@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.Pcard {
	display: inline-block;
	margin-right: 20px;
	/* padding-top: 15px; */
}
.product-card {
	width: 200px;
	height: 340px;
	font-family: "Open Sans", sans-serif;
	display: flex;
	flex-direction: column;
}

.product-card img {
	object-fit: cover;
	width: 100%;
	height: 78%;
}
.content h2 {
	font-family: "Open Sans", sans-serif;
	font-size: 0.95rem;
	margin: 0;
	font-weight: 300;
	color: black;
}

.price {
	display: flex;
	align-items: center;
	justify-content: center;
}

.content .price h3 {
	font-family: "Open Sans", sans-serif;
	font-size: 0.75rem;
	margin: 0;
	font-weight: 600;
	color: black;
}
.content .price div {
	font-family: "Open Sans", sans-serif;
	font-size: 0.7rem;
	text-decoration: line-through;
	font-style: italic;
	padding-left: 5px;
}

.content {
	text-align: center;
	margin: auto;
	padding: 5px 0;
}
