.container {
	width: 80%;
	justify-content: center;
	align-items: center;
}
.detail {
	height: 20%;
}
.detail2 {
	height: 37%;
}
.detail3 {
	height: 43%;
}
.back {
	width: 2rem;
	height: 2rem;
	position: absolute;
	left: 1rem;
	top: 4rem;
	cursor: pointer;
	color: white;
	font-size: 2.5rem;
}
.back:hover {
	color: #eb8282;
}
.back > img {
	width: 2rem;
	height: 2rem;
	cursor: pointer;
}

.imageContainer {
	justify-content: center;
	padding: 5px;
	background-color: rgb(255, 255, 255);
}

.imageContainer .prodimage > img {
	border-radius: 5px;
	width: 100%;
	height: 100%;
}
.qtyPrice .qty,
.pr,
.buy {
	height: 34%;
	display: flex;
	align-items: center;
}

.qty {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.inputNumber {
	width: 90px;
	border: 1px solid #ffffff00;
	height: 30px;
	border-radius: 5px;
	position: relative;
	user-select: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 5px;
}
.decrement {
	width: 30px;
	height: 30px;
	border-radius: 5px 0 0 5px;
	border: 2px solid gainsboro;
	position: absolute;
	top: -1px;
	left: -1px;
	text-align: center;
}
.increment {
	width: 30px;
	height: 30px;
	border: 2px solid gainsboro;
	border-radius: 0 5px 5px 0;
	position: absolute;
	top: -1px;
	right: -1px;
	text-align: center;
}
.countValue {
	font-size: 1.4rem;
	font-weight: 500;
}

.inputNumber > .decrement :active,
.increment :active {
	transform: scale(0.9);
	color: #25df2f;
}
.increment,
.decrement {
	display: flex;
	align-items: center;
	justify-content: center;
	color: darkgray;
}
@media screen and (min-width: 1096px) and (max-width: 1620px) {
	.imageContainer {
		height: 60vh;
	}
	.prodDetailsDescription {
		background-color: white;
		height: 60vh;
		padding: 10px;
	}
}

@media screen and (min-width: 300px) and (max-width: 1096px) {
	.prodDetailsPage {
		flex-direction: column !important;
		height: 100% !important;
		align-items: center;
		padding: 0 !important;
		color: white !important;
	}
	.imageContainer > div > img {
		width: 300px;
		height: 300px;
	}
	.title {
		justify-content: center;
	}
	.prodDetailsDescription {
		width: 80% !important;
	}
}
@media screen and (min-width: 300px) and (max-width: 420px) {
	.imageContainer > div > img {
		width: 200px;
		height: 200px;
	}
	.prodDetailsDescription {
		width: 90% !important;
	}
}
