.List{
  padding: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  background-color: aqua;
  padding-left: 4rem;
  position: relative;
  top:4rem;
}
.productdetails{
  position: relative;
  top:4rem;
  
}
.payment{
  width: 100%;
  position: relative;
  top:4rem;

}
.close{
  position: absolute;
  top: 0;
  right: 0;
  left: 100;
  width: 2em;
padding: 0.8em;
cursor: pointer;
}

.navbar {
  z-index: 1;
  height: 4rem;
}

.item{
 height: auto;
  background-color: aquamarine;
}